@{
    this.ViewData["Title"] = "Home Page";
}
<div class="container">
    <h1>Shop</h1>
    <div class="card-columns">
        <div class="card text-center" *ngFor="let p of products$ | async">
            <div class="card-body">
                <h4 class="card-title">@{@*todo*@}</h4>
                <h6 class="card-subtitle text-muted">@{@*todo*@}</h6>
            </div>
            <img src="@{@*todo*@}" alt="Photo of sunset">
            <!--
                  <div class="card-body">
                    <p class="card-text">The sun disappeared behind the horizon today. Experts claim it could be gone for good!</p>
                  </div> -->
            <div class="card-footer">
                <p class="card-btns">@{@*todo*@} bgn</p>
                <a class="card-btns card-link" (click)="getCurrProduct(p._id)" data-toggle="modal"
                   data-target=".bd-example-modal-lg">Details</a>
                <a class="card-btns card-link" href="#">Order</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="row">
                <div class="col-lg-6">
                    <img src="@{@*todo*@}" alt="Photo of sunset">
                </div>
                <div class="col-lg-6">
                    <div class="product-details">
                        <h4 class="card-title">@{@*todo*@}</h4>
                        <h6 class="card-subtitle text-muted">@{@*todo*@}</h6>
                        <div class="dropdown-divider"></div>
                        <h6 class="card-subtitle text-muted">@{@*todo*@}</h6>
                        <div class="dropdown-divider"></div>
                        <h6 class="card-subtitle">@{@*todo*@} bgn</h6>
                    </div>
                    <div class="products-buttons">
                        <a class="card-btns card-link" href="#">Order</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>