@using Microsoft.AspNetCore.Http.Features
@using SvetulkaApp.Web.Components

@*@model CreateOrderViewModel*@

@{
    ViewData["Title"] = "Product Details";
}

<link href="~/css/shoppingCartProceed.css" rel="stylesheet" />
<div class="h3 text-center mb-3">@ViewData["Title"]</div>
<div class="cart">
    <div class="row">
        <div class="col-md-12">
            @await Component.InvokeAsync(typeof(ShoppingCartComponent))
        </div>
    </div>
    <div class="row mybtn">
        <div class="col-md-12">
            <form method="post" asp-controller="Orders" asp-action="Create">
                <div class="text-right mt-3 mb-3">
                    <button type="submit" class="form-group btn btn-success btn-lg mb-0">Proceed With The Order</button>
                </div>
            </form>
        </div>
    </div>
</div>