@using SvetulkaApp.Web.Components

@model SvetulkaApp.Web.ViewModels.Orders.OrderDetailsViewModel

@{
    ViewData["Title"] = "Детайли на поръчката";
}

<div class="mobile-fondsize-20 h2 font-italic text-center">Детайли поръчката</div>
<div class="row">
    <div class="col-xl-6">
        <div class="shadow p-4 mb-4 bg-white">
            <div class="mobile-fondsize-20 h6 text-center font-italic">Данни за пратката</div>
            <p class="mb-0"><strong>Цена за продуктите:</strong> </p>
        </div>
        <div class="shadow p-4 mb-4 bg-white">
            <div class="mobile-fondsize-20 h6 text-center font-italic">Други детайли</div>
            <p class="mb-0"><strong>Номер на поръчката:</strong> @Model.Id</p>
            <p class="mb-0"><strong>Дата на поръчката:</strong> @Model.OrderDate</p>
        </div>
    </div>
    <div class="col-xl-6">
        @await Component.InvokeAsync(typeof(OrderProductsComponent), new { OrderId = Model.Id })
    </div>
</div>