@using SvetulkaApp.Data.Models.Enums

@model SvetulkaApp.Web.Areas.Administration.ViewModels.Products.CreateProductViewModel

@{
    ViewData["Title"] = "Add Product";
}

<link href="~/css/createAndEditProducts.css" rel="stylesheet" />
<h3 class="mobile-fondsize-20 text-muted text-center">@ViewData["Title"]</h3>
<hr class="w-50" />
<div class="container" id="myForm">
    <form asp-controller="Products" asp-action="Create" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="Category" class="control-label"></label>
                <select class="form-control" asp-for="Category" asp-items="Html.GetEnumSelectList<ProductCategory>()">
                    <option selected="" disabled="" value="">Please select</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group text-center">
            <button type="submit" value="" class="btn btn-primary">Create Product</button>
        </div>
    </form>
</div>